.btn {
  position: relative;
  transition: 0.2s linear;
}

.btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 50px);
  height: calc(100% + 50px);
}
