.wrp {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 180px;
  overflow: hidden;
}

@keyframes slide {
  0% {
    transform: translateX(-40%) translateY(100%);
  }
  100% {
    transform: translateX(-40%) translateY(0);
  }
}

.open .img {
  transform: translateX(-40%) translateY(0);
  animation: slide 15s ease-in-out;
}

.close .img {
  transform: translateX(-40%) translateY(100%);
  transition: 5s ease-in-out;
}
